<h2>Hi <%= @user.displayed_name %>,</h2>

<p>die neue Getränkerechnung ist hier:
<%= tab_url(@tab) %></p>

<table>
<thead>
<tr>
	<th>Getränk</th>
	<th>Anzahl</th>
	<th>Kosten</th>
	<th>Gesamt</th>
</tr>
</thead>
<tbody>
<% @beverage_tabs.each do |bt| %>
<tr>
	<td><%= bt.name %></td>
	<td><%= bt.count %></td>
	<td><%= bt.price %></td>
	<td><%= bt.price * bt.count %></td>
</tr>
<% end %>
</tbody>
</table>

<p>Gesamtkosten: <%= number_to_currency(@tab.total_invoice) %></p>

<p>Bitte bezahle möglichst bald.</p>

<p>Viele Grüße 
Der Kühlschrank</p>
