%div
	%table
		%colgroup
			%col{:width => "15%"}
			%col{:width => "85%"}
		%tbody
			%tr
				%th=t Beverage.human_attribute_name :name
				%td= beverage.name
			%tr 
				%th=t Beverage.human_attribute_name :description
				%td= beverage.description
			%tr
				%th=t Beverage.human_attribute_name :price
				%td= number_to_currency(beverage.price)
			%tr 
				%th=t Beverage.human_attribute_name :available
				%td= beverage.available

	= link_to t('actions.edit'), edit_beverage_path(beverage) 
	|
	= link_to t('actions.destroy'), beverage_path(beverage), :method => :delete