%div
	%table
		%colgroup
			%col{:width => "15%"}
			%col{:width => "85%"}
		%tbody
			%tr
				%th=t Beverage.human_attribute_name :name
				%td= beverage.name
			%tr
				%th=t Beverage.human_attribute_name :description
				%td= beverage.description
			%tr
				%th=t Beverage.human_attribute_name :price
				%td= number_to_currency(beverage.price)
			%tr
				%th=t Beverage.human_attribute_name :external_price
				%td= number_to_currency(beverage.external_price)
			%tr
				%th=t Beverage.human_attribute_name :capacity
				%td= number_to_human(beverage.capacity, :units => 'beverages.capacity')
			%tr
				%th= t 'beverages.index.ppl'
				%td= number_to_currency(beverage.price/beverage.capacity)
			%tr
				%th=t Beverage.human_attribute_name :available
				%td= beverage.available

	= link_to t('actions.edit'), edit_beverage_path(beverage)
