<%= form_for(@beverage, :html => {:class => "inline"}) do |f| %>
	<% if @beverage.errors.any? %>
		<div id="error_explanation">
			<h2><%= t('feedback.form_error', count: @beverage.errors.count) %></h2>

			<ul>
			<% @beverage.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<div class="actions">
		<%= f.label :name %>
		<%= f.text_field :name %>

		<%= f.label :description %>
		<%= f.text_area :description %>

		<%= f.label :capacity %>
		<%= f.text_field :capacity, :value=>number_to_human(f.object.capacity, :units=> 'beverages.capacity') %>

		<%= f.label :price %>
		<%= f.text_field :price, :value=>number_to_currency(f.object.price) %>

		<%= f.label :external_price %>
		<%= f.text_field :external_price, :value=>number_to_currency(f.object.external_price) %>

		<%= f.label :available %>
		<div class="toggle-wrapper">
			<label class="checkbox toggle fsintra" onclick="" style="width: 100%; height: 100%;">
				<%# TODO: move hidden field yielded by the check_box helper -> must not be the first child %>
				<%= f.check_box :available %>
				<p>
					<span><%= t 'views.yep' %></span>
					<span><%= t 'views.nope' %></span>
				</p>
				<a class="slide-button"></a>
			</label>
		</div>

		<div class="submit">
			<%= f.submit :class => "button" %>
		</div>
	</div>
<% end %>
