%div{:class => 'actions'}
	%h1=t '.headline'
	-# = link_to content_tag(:span, ' ' + t('.new'), :class=> "icon-plus"), new_beverage_path, :class => "button small round secondary"
	.one.buttons
		= link_to t('.new'), new_beverage_path

	.live
		%input#livesearch

- if notice
	%p#notice= notice

.list-table
	.thead
		.tr
			.th.w-10.left= Beverage.human_attribute_name(:image)
			.th.w-20.center= Beverage.human_attribute_name(:name)
			.th.w-10.center= Beverage.human_attribute_name(:capacity)
			.th.w-20.center= Beverage.human_attribute_name(:available)
			.th.w-20.right= Beverage.human_attribute_name(:price)
			.th.w-20.right= Beverage.human_attribute_name(:external_price)
	.tbody
		- @beverages.each do |beverage|
			=link_to(edit_beverage_path(beverage), class: 'tr') do
				.td.w-10.center=image_tag  beverage.image.url(:small)
				.td.w-20.left= beverage.name
				.td.w-10.center= number_to_human(beverage.capacity, units: 'beverages.capacity')
				.td.w-20.center
					- if beverage.available
						%i.icon-check
					- else
						%i.icon-cancel
				.td.w-20.right= number_to_currency(beverage.price)
				.td.w-20.right= number_to_currency(beverage.external_price)

- content_for :scripts do
	= javascript_include_tag "beverages"
