%h4= Person.human_attribute_name :birthday, count: 2
%ul
	- people.each do |p|
		- if p.birthday
			%li
				= link_to p.displayed_name, person_path(p)
				= "(#{l p.birthday, :format => :short}, #{t('datetime.distance_in_words.x_days', count: p.days_to_next_birthday)})"