<%= form_for(@person, :html => {:class => "inline"}) do |f| %>
	<% if @person.errors.any? %>
		<div id="error_explanation">
		<h2><%=t 'feedback.form_error', :count => @person.errors.count %></h2>
			<ul>
				<% @person.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<%= f.label :firstname %>
	<%= f.text_field :firstname %>
	<%= f.label :lastname %>
	<%= f.text_field :lastname %>
	<%= f.label :street %>
	<%= f.text_field :street %>
	<%= f.label :zip %>
	<%= f.text_field :zip %>
	<%= f.label :city %>
	<%= f.text_field :city %>
	<%= f.label :email %>
	<%= f.text_field :email %>
	<%= f.label :phone %>
	<%= f.text_field :phone %>
	<%= f.label :birthday %>
	<%= f.date_field :birthday, :start_year => 1940, :end_year => Date.today.year %>
	<%= f.label :misc %>
	<%= f.text_area :misc %>
	<%= f.label :tag_list, t('tag_list') %>
	<%= f.text_field :tag_list, :id => 'tags' %>

	<div class="submit">
		<%= f.submit :class => 'button' %>
	</div>
<% end %>

<% content_for :scripts do %>
	<%= javascript_include_tag 'people' %>
<% end %>
<script defer="defer">
	var availableTags = [<%= raw ActsAsTaggableOn::Tag.all.map{ |t| "{label: '#{t.name}'}"}.join(', ') %> ];
</script>