

<%= form_for(@person, :html => {:class => "panel"}) do |f| %>
	<% if @person.errors.any? %>
		<div id="error_explanation">
		<h2><%=t 'feedback.form_error', :count => @person.errors.count %></h2>
			<ul>
				<% @person.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field">
		<%= f.label :firstname %>
		<%= f.text_field :firstname %>
	</div>
	<div class="field">
		<%= f.label :lastname %>
		<%= f.text_field :lastname %>
	</div>
	<div class="field">
		<%= f.label :street %>
		<%= f.text_field :street %>
	</div>
	<div class="field">
		<%= f.label :zip %>
		<%= f.text_field :zip %>
	</div>
	<div class="field">
		<%= f.label :city %>
		<%= f.text_field :city %>
	</div>
	<div class="field">
		<%= f.label :email %>
		<%= f.text_field :email %>
	</div>
	<div class="field">
		<%= f.label :phone %>
		<%= f.text_field :phone %>
	</div>
	<div class="field">
		<%= f.label :birthday %>
		<%= f.date_field :birthday, :start_year => 1940, :end_year => Date.today.year %>
	</div>
	<div class="field">
		<%= f.label :misc %>
		<%= f.text_area :misc %>
	</div>
	<div class="field">
		<%= f.label :tag_list %>
		<div class="nested">
			<%= f.text_field :tag_list, value: @person.tag_list.join(",") %>
		</div>
	</div>
	<%= f.submit :class => 'button' %>
<% end %>

<% content_for :scripts do %>
	<script type="text/javascript">
		$('#user_tag_list').selectnice("tags", {
			tags: <%= raw Person.tag_counts.pluck(:name) %>
		});
		// FIXME: the same form for two models => sucks
		$('#person_tag_list').selectnice("tags", {
			tags: <%= raw Person.tag_counts.pluck(:name) %>
		});
	</script>
<% end %>
