<tr> 
	<td><%= person.firstname %></td>
	<td><%= person.lastname %></td>
	<td><%= person.street %></td>
	<td><%= person.zip %></td>
	<td><%= person.city %></td>
	<td><%= person.email %></td>
	<td><%= person.phone %></td>
	<td><%= person.birthday %></td>
	<td><%= person.misc %></td>
</tr>