<h1><%=t '.headline' %></h1>

<div class="one buttons">
	<%= link_to('Kontakt hinzufügen', new_person_path) %>
</div>

<div class="live"><input id="livesearch"></div>

<% cache_if(params[:tag].nil?, cache_key_for_people) do %>
	<div class="list-table">
		<div class="thead">
			<div class="tr">
				<div class="th w-25">Vorname</div>
				<div class="th w-25">Nachname</div>
				<div class="th w-20 hide-medium">Telefon</div>
				<div class="th w-30 hide-small">eMail</div>
			</div>
		</div>
		<div class="tbody">
			<% @people.each do |person| %>
				<% cache(person) do %>
					<%= link_to(person, class: 'tr') do %>
						<div class="hide"><%= person.tag_list %></div>
						<div class="td w-25"><%= person.firstname %></div>
						<div class="td w-25"><%= person.lastname %></div>
						<div class="td w-20 hide-medium"><%= person.phone %></div>
						<div class="td w-35 hide-small"><%= person.email %></div>
					<% end %>
				<% end %>
			<% end %>
<% end %>

<% content_for :scripts do %>
	<%= javascript_include_tag 'people.js' %>
<% end %>
