<div class="actions">
	<h1><%=t '.headline' %></h1>
	<%= link_to content_tag(:span, @tag, :class => "icon-cancel-1"), people_path, :class => "button small round secondary" if @tag %>
	<%= link_to content_tag(:span, t('.new_entry'), :class => "icon-plus"), new_person_path, :class => "button small round secondary" %>
</div>

<% cache(cache_key_for_people) do %>
<table>
	<colgroup>
		<col width="24%">
		<col width="24%">
		<col width="24%">
		<col width="24%">
		<col width="2%">
		<col width="2%">
	</colgroup>
	<thead>
		<tr>
			<th><%= sort_link(@search, :firstname, Person.human_attribute_name(:firstname)) %></th>
			<th><%= sort_link(@search, :lastname, Person.human_attribute_name(:lastname)) %></th>
			<th><%= sort_link(@search, :email, Person.human_attribute_name(:email)) %></th>
			<th><%= sort_link(@search, :phone, Person.human_attribute_name(:phone)) %></th>
			<th><%=t 'tag_list' %> </th>
			<th colspan="2" class="text-center"><%= t 'actions.other' %></th>
		</tr>
	</thead>
	<tbody>
		<% @people.each do |person| %>
			<% cache(person) do %>
				<tr> 
					<td><%= person.firstname %></td>
					<td><%= person.lastname %></td>
					<td><%= person.email %></td>
					<td><%= person.phone %></td>
					<td><%= render_tag_list person.cached_tag_list %></td>
					<td class="center no-linebreak">
						<%= link_to content_tag(:span, t('people.details'), :class => "icon-info-circled"), person_path(person) %>
					</td>
					<td class="center no-linebreak">
						<%= link_to content_tag(:span, t('people.vcard'), :class => "icon-vcard"), person_path(person, :format => 'vcf')  %>
					</td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>
<% end %>