<div class="actions">
	<h1><%=t '.headline' %></h1>
	<%= link_to content_tag(:span, @tag, :class => "icon-cancel-1"), people_path, :class => "button small round secondary" if @tag %>
	<%= link_to content_tag(:span, t('.new_entry'), :class => "icon-plus"), new_person_path, :class => "button small round secondary" %>
</div>

<% cache_if(params[:tag].nil?, cache_key_for_people) do %>

<table id="people" data-source="<%= people_url(format: "json") %>">
	<colgroup>
		<col width="24%">
		<col width="24%">
		<col width="24%">
		<col width="24%">
		<col width="2%">
	</colgroup>
	<thead>
		<tr>
			<th><%= Person.human_attribute_name(:firstname) %></th>
			<th><%= Person.human_attribute_name(:lastname) %></th>
			<th><%= Person.human_attribute_name(:email) %></th>
			<th><%= Person.human_attribute_name(:phone) %></th>
			<th><%=t 'tag_list' %> </th>
			<th class="text-center"><%= t 'actions.other' %></th>
		</tr>
	</thead>
	<tbody>
		<% @people.each do |person| %>
			<% cache(person) do %>
				<tr> 
					<td><%= person.firstname %></td>
					<td><%= person.lastname %></td>
					<td><%= person.email %></td>
					<td><%= person.phone %></td>
					<td><%= render_tag_list person.cached_tag_list %></td>
					<td class="center no-linebreak">
						<%= link_to content_tag(:span, t('people.details'), :class => "icon-info-circled"), person_path(person) %>
						<%= link_to content_tag(:span, t('people.vcard'), :class => "icon-vcard"), person_path(person, :format => 'vcf')  %>
					</td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>
<% end %>

<% content_for :scripts do %>
	<%= javascript_include_tag 'people' %>
<% end %>