<div class="actions">
	<h1 style=""><%=t '.heading' %></h1>
	<a href="<%= new_person_path %>" class="button small round secondary">
		<span class="icon-plus"> Neuen Eintrag Anlegen</span>
	</a>
</div>

<table>
	<colgroup>
		<col width="24%">
		<col width="24%">
		<col width="24%">
		<col width="24%">
		<col width="2%">
		<col width="2%">
	</colgroup>
	<thead>
		<tr>
			<th><%=t Person.human_attribute_name :firstname %></th>
			<th><%=t Person.human_attribute_name :lastname %></th>
			<th><%=t Person.human_attribute_name :email %></th>
			<th><%=t Person.human_attribute_name :phone %></th>
			<th>Aktionen</th>
		</tr>
	</thead>
	<tbody>
		<% @people.each do |person| %>
			<tr> 
				<td><%= person.firstname %></td>
				<td><%= person.lastname %></td>
				<td><%= person.email %></td>
				<td><%= person.phone %></td>
				<td class="center no-linebreak">
					<a href="<%= person_path(person) %>"><span class="icon-info-circled">Details</span></a>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>