<div class="actions">
	<h1><%= @person.firstname %> <%= @person.lastname %></h1>
	<%= link_to content_tag(:span, ' Zurück', :class => "icon-left-fat"), people_path, :class => "button small round secondary" %>
	<% if @person.type.nil? or current_user?(@person) %>
		<%= link_to content_tag(:span, ' Bearbeiten', :class => "icon-pencil"), edit_person_path(@person), :class => "button small round secondary" %>
	<% end %>
	<%= link_to content_tag(:span, ' vCard', :class => "icon-vcard"), person_path(@person, :format => 'vcf'), :class => "button small round secondary" %>
</div>

<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>

<table class="user-details">
	<colgroup>
		<col width="20%">
		<col width="80%">
	</colgroup>
	<tbody>
		<tr>
			<th>Vorname</th>
			<td><%= @person.firstname %></td>
		</tr>
		<tr>
			<th>Nachname</th>
			<td><%= @person.lastname %></td>
		</tr>
		<tr>
			<th>eMail</th>
			<td><%= @person.email %></td>
		</tr>
		<tr>
			<th>Telefonnummer</th>
			<td><%= @person.phone %></td>
		</tr>
		<tr>
			<th>Geburtstag</th>
			<td><%= @person.birthday %></td>
		</tr>
		<tr>
			<th>Adresse</th>
			<td>
				<%= @person.street %>
				<%= @person.zip %>
				<%= @person.city %>
			</td>
		</tr>
		<tr>
			<th>Sonstiges</th>
			<td><%= @person.misc %></td>
		</tr>
		<tr>
			<th>QR Code</th>
			<td colspan="3">
				<div id="qrcode"><%= tag 'embed', :src => person_path(@person, :format => 'svg') %></div>
			</td>
		</tr>
	</tbody>
</table>