<div class="actions">
	<h1><%= @person.firstname %> <%= @person.lastname %></h1>
	<%= link_to content_tag(:span, t('actions.back'), :class => "icon-left-fat"), people_path, :class => "button small round secondary" %>
	<% if can? :edit, @person %>
		<%= link_to content_tag(:span, t('actions.edit'), :class => "icon-pencil"), edit_person_path(@person), :class => "button small round secondary" %>
	<% end %>
	<% if can? :delete, @person %>
		<%= link_to content_tag(:span, t('actions.delete'), :class => "icon-cancel-circled"), person_path(@person), :method => :delete, :confirm => t('actions.destroy_confirm'), :class => "button small round secondary" %>
	<% end %>
	<%= link_to content_tag(:span, t('people.vcard'), :class => "icon-vcard"), person_path(@person, :format => 'vcf'), :class => "button small round secondary" %>
</div>
<span class="last-edited"><%= t '.last_edited' %><%= l @person.updated_at.to_date, format: :default %></span>

<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>

<table class="user-details">
	<colgroup>
		<col width="20%">
		<col width="80%">
	</colgroup>
	<tbody>
		<tr>
			<th><%=t Person.human_attribute_name :firstname %></th>
			<td><%= @person.firstname %></td>
		</tr>
		<tr>
			<th><%=t Person.human_attribute_name :lastname %></th>
			<td><%= @person.lastname %></td>
		</tr>
		<tr>
			<th><%=t Person.human_attribute_name :email %></th>
			<td><%= @person.email %></td>
		</tr>
		<tr>
			<th><%=t Person.human_attribute_name :phone %></th>
			<td><%= @person.phone %></td>
		</tr>
		<tr>
			<th><%=t Person.human_attribute_name :birthday %></th>
			<td><%= l(@person.birthday, format: :without_year) unless @person.birthday.nil? %></td>
		</tr>
		<tr>
			<th><%=t Person.human_attribute_name :street %></th>
			<td>
				<%= @person.street %>
			</td>
			</tr>
			<tr>
			<th><%=t Person.human_attribute_name :city %></th>
			<td>
				<%= @person.zip %>
				<%= @person.city %>
			</td>
		</tr>
		<tr>
			<th><%=t Person.human_attribute_name :misc %></th>
			<td><%= simple_format @person.misc %></td>
		</tr>
		<tr>
			<th><%= t 'tag_list' %></th>
			<td><%= render_tag_list @person.cached_tag_list %></td>
		</tr>
		<tr>
			<th><%= t 'people.qrcode' %></th>
			<td colspan="3">
				<div id="qrcode"><%= tag 'embed', :src => person_path(@person, :format => 'svg') %></div>
			</td>
		</tr>
	</tbody>
</table>
