-# next line is for lulz reasons
-the_path = on_creating? ? minutes_minute_item_motions_path(@minutes_minute, @minutes_item) : minutes_minute_item_motion_path(@minutes_minute, @minutes_item, @minutes_motion)

= form_for @minutes_motion, url: the_path, :html => { class: 'panel'} do |f|
  - if @minutes_motion.errors.any?
    #error_explanation
      %h3= "#{@minutes_motion.errors.count} Fehler sind aufgetreten:"
      %ul
        - @minutes_motion.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :mover
    .nested
      = f.select :mover_id, User.all.collect {|p| [p.displayed_name, p.id] }, { :include_blank => true }
  .field
    = f.label :amount
    = f.text_field :amount, 'placeholder' => 'nur für Finanzanträge'
  .field
    = f.label :rationale
    = f.text_area :rationale
  .field
    = f.label :approved
    .slider
      %label{'for' => 'minutes_motion_approved'}
        = f.check_box :approved
        %a
        %div
          Nein
        %div
          Ja    
  .triple.field
    = f.label 'Abstrimmung'
    = f.number_field :pro, 'placeholder' => 'dafür'
    = f.number_field :con, 'placeholder' => 'dagegen'
    = f.number_field :abs, 'placeholder' => 'enthalten'
  = f.submit :class => 'button'

- content_for :scripts do
  :javascript
    $("#minutes_motion_mover_id").selectnice("single", {}, {create: true});