-# next line is for lulz reasons
-the_path = on_creating? ? minutes_minute_item_motions_path(@minutes_minute, @minutes_item) : minutes_minute_item_motion_path(@minutes_minute, @minutes_item, @minutes_motion)

= form_for @minutes_motion, url: the_path, :html => { class: 'panel'} do |f|
  - if @minutes_motion.errors.any?
    #error_explanation
      %h3= "#{@minutes_motion.errors.count} Fehler sind aufgetreten:"
      %ul
        - @minutes_motion.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :mover
    .nested
      = f.select :mover_id, User.all.collect {|p| [p.displayed_name, p.id] }, { :include_blank => true }
  .field
    = f.label :amount
    = f.text_field :amount, 'value' => @minutes_motion.amount_in_currency,'placeholder' => 'nur für Finanzanträge'
  .field
    = f.label :rationale
    = f.text_area :rationale, type: :text
  .field
    = f.label :approved
    .slider
      %label{'for' => 'minutes_motion_approved'}
        = f.check_box :approved
        %a
        %div
          Nein
        %div
          Ja
  .field
    = f.label 'Modus'
    .slider
      %label{}
        = f.check_box :apparent_majority
        %a.grey
        %div
          Abstimmung
        %div
          Augensch. Mehrheit
  .triple.field
    = f.label 'Abstimmung'
    - disabled = @minutes_motion.apparent_majority? ? { 'disabled' => 'disabled' } : {}
    = f.number_field :pro, disabled.merge('placeholder' => 'dafür')
    = f.number_field :con, disabled.merge('placeholder' => 'dagegen')
    = f.number_field :abs, disabled.merge('placeholder' => 'enthalten')
  = f.submit :class => 'button'

- content_for :scripts do
  :javascript
    $("#minutes_motion_mover_id").selectnice("single", {}, {create: true});

    old = [0,0,0]
    $("#minutes_motion_apparent_majority").change(function(e) {
      // for a better user experience, the old values are stored
      forms = [
        $("#minutes_motion_pro"),
        $("#minutes_motion_con"),
        $("#minutes_motion_abs")
      ]
      if(e.target.checked) {
        for(i in forms) {
          forms[i].attr("disabled", "disabled")
          old[i] = forms[i].val()
          forms[i].val("")
        }
      } else {
        for(i in forms) {
          forms[i].removeAttr("disabled")
          forms[i].val(old[i])
        }
      }
    })
