-the_path = on_creating? ? minutes_minute_approvements_path(@minutes_minute) : minutes_minute_approvement_path(minute_id: @minutes_minute.id, id: @minutes_approvement.id)
= form_for @minutes_approvement, url: the_path, :html => { :'data-type' => 'json' } do |f|
  - if @minutes_approvement.errors.any?
    #error_explanation
      %h2= "#{pluralize(@minutes_approvement.errors.count, "error")} prohibited this minutes_approvement from being saved:"
      %ul
        - @minutes_approvement.errors.full_messages.each do |msg|
          %li= msg
          
  = f.label :approved_minute
  = f.select(:approved_minute_id, Minutes::Minute.approvable.map { |m| [m.date, m.id] })

  .row
    .columns.small-4
      = f.label :pro , :class => "fs-motion-prefix"
      = f.number_field :pro, :class => "fs-motion"
    .columns.small-4
      = f.label :con , :class => "fs-motion-prefix"
      = f.number_field :con, :class => "fs-motion"
    .columns.small-4
      = f.label :abs , :class => "fs-motion-prefix"
      = f.number_field :abs, :class => "fs-motion"
  .row
    .columns.small-6
      = f.label :apparent_majority, :class => "fs-motion-prefix"
      = f.check_box :apparent_majority, :class => "fs-motion-checkbox"
    .columns.small-6
      = f.label :approved, :class => "fs-motion-prefix"
      = f.check_box :approved, :class => "fs-motion-checkbox"

  = f.submit