<tr> 
	<td><%= user.firstname %></td>
	<td><%= user.lastname %></td>
	<td><%= user.street %></td>
	<td><%= user.zip %></td>
	<td><%= user.city %></td>
	<td><%= user.email %></td>
	<td><%= user.phone %></td>
	<td><%= user.birthday %></td>
	<td><%= user.misc %></td>
</tr>