<div class="actions">
	<h1><%=t '.heading' %></h1>
	<%= link_to content_tag(:span, ' Neuen Eintrag anlegen', :class => "icon-plus"), new_user_path, :class => "button small round secondary" %>
</div>

<table>
	<colgroup>
		<col width="24%">
		<col width="24%">
		<col width="24%">
		<col width="24%">
		<col width="2%">
		<col width="2%">
	</colgroup>
	<thead>
		<tr>
			<th><%=t User.human_attribute_name :firstname %></th>
			<th><%=t User.human_attribute_name :lastname %></th>
			<th><%=t User.human_attribute_name :email %></th>
			<th><%=t User.human_attribute_name :phone %></th>
			<th>Aktionen</th>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |user| %>
			<tr> 
				<td><%= user.firstname %></td>
				<td><%= user.lastname %></td>
				<td><%= user.city %></td>
				<td><%= user.email %></td>
				<td class="center no-linebreak">
					<%= link_to content_tag(:span, 'Details', :class => "icon-info-circled"), user_path(user) %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>