= form_for @plenum_minute, :html => { class: 'panel', :'data-type' => 'json' } do |f|
  - if @plenum_minute.errors.any?
    #error_explanation
      %h2= "#{pluralize(@plenum_minute.errors.count, "error")} prohibited this plenum_minute from being saved:"
      %ul
        - @plenum_minute.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :date
    = f.date_field :date
  .field
    = f.label :keeper_of_the_minutes_id, Minutes::Minute.human_attribute_name(:keeper_of_the_minutes)
    .nested
      - if can? :manage, Minutes::Minute
        = f.select :keeper_of_the_minutes_id, User.all.collect {|p| [p.displayed_name, p.id] }, { :include_blank => true }, { :style => 'width: 400px' }
      - else
        .fixed_field= @plenum_minute.keeper_of_the_minutes || current_user.to_s
  .field
    = f.label :chairperson_id, Minutes::Minute.human_attribute_name(:chairperson)
    .nested
      = f.select :chairperson_id, User.all.collect {|p| [p.displayed_name, p.id] }, { :include_blank => true }, { :style => 'width: 400px' }
  .field
    = f.label :guests
    .nested
      = f.text_field :guests
  = f.submit 'Änderungen übernehmen', :class => 'button'


- content_for :scripts do
  :javascript
    $("#minutes_plenum_minute_keeper_of_the_minutes_id").selectnice("single", {}, {create: true});
    $("#minutes_plenum_minute_chairperson_id").selectnice("single");
    $("#minutes_plenum_minute_guests").selectnice("tags");