%h1 #{t @minutes_minute.class.model_name.human} vom #{l @minutes_minute.date}

- if can? :send_draft, @minutes_minute
  .two.buttons
    = link_to 'Entwurf verschicken', '#', class: 'switch', 'gumby-trigger' => '#draftcon'
    = link_to 'Veröffentlichen', '#', class: 'switch', 'gumby-trigger' => '#publishcon'

= render partial: 'meta'
= render partial: 'toplist'

= render partial: 'minutes/items/agenda_item'
= render partial: "minutes/items/item", collection: @minutes_minute.items, as: :item


- if can? :send_draft, @minutes_minute
  .modal#draftcon
    .content
      %a.close.switch{'gumby-trigger' => '|#draftcon'}
        %i.icon-cancel
      .row
        .ten.columns.centered.text-centetr
          %h2 Sicher?
          %p Möchtest du den aktuellen Stand des Protokolls wirklich als Entwurf versenden?
          = link_to 'Entwurf verschicken', send_draft_minutes_minute_path(@minutes_minute), method: :put, class: 'button switch', 'gumby-trigger' => '|#draftcon'

  .modal#publishcon
    .content
      %a.close.switch{'gumby-trigger' => '|#publishcon'}
        %i.icon-cancel
      .row
        .ten.columns.centered.text-centetr
          %h2 Sicher?
          %p Möchtest du dieses Protokoll wirklich veröffentlichen?
          = link_to 'Veröffentlichen', publish_minutes_minute_path(@minutes_minute), method: :put, class: 'button switch', 'gumby-trigger' => '|#publishcon'