.list-table
  .thead
    .tr
      .th.w-25.left
        = t Minutes::Minute.human_attribute_name :date
      .th.w-25.center
        = t Minutes::Minute.human_attribute_name :keeper_of_the_minutes
      .th.w-25.center
        = t Minutes::Minute.human_attribute_name :chairperson
      .th.w-25.center
        - if extra_date == 'draft_sent_data'
          Entwurf versendet
        - elsif extra_date == 'released_date'
          Veröffentlicht
        - elsif extra_date == 'approved_date'
          Angenommen
  - minutes.each do |minutes_minute|
    .tbody
      %a.tr{href: polymorphic_url(minutes_minute)}
        .td.w-25.left
          = ldate(minutes_minute.date)
          = minutes_minute.type == 'Minutes::PlenumMinute' ? '[VV]' : ''
        .td.w-25.center
          = minutes_minute.keeper_of_the_minutes
        .td.w-25.center
          = minutes_minute.chairperson
        .td.w-25.center
          - if extra_date == 'draft_sent_data'
            = ldate minutes_minute.draft_sent_date
          - elsif extra_date == 'released_date'
            = ldate minutes_minute.released_date
          - elsif extra_date == 'approved_date'
            = ldate minutes_minute.approved_date