%h1= t '.headline'
= link_to content_tag(:span, ' ' + t('.new'), :class => "icon-plus"), new_minutes_minute_path, :class => "button small round secondary"


%h2 Nicht veröffentlicht
= render partial: 'minute_table', locals: {minutes: @open_minutes}

%h2 Veröffentlicht
= render partial: 'minute_table', locals: {minutes: @released_minutes}

%h2 Genehmigt
= render partial: 'minute_table', locals: {minutes: @accepted_minutes}

%br

= link_to content_tag(:span, ' ' + t('.new'), :class => "icon-plus"), new_minutes_minute_path, :class => "button small round secondary"
= link_to content_tag(:span, ' ' + t('.new-plenum'), :class => "icon-plus"), new_minutes_plenum_minute_path, :class => "button small round secondary"