%h1= t '.headline'

.two.buttons
	= link_to t('.new'), new_minutes_minute_path
	= link_to t('.new-plenum'), new_minutes_plenum_minute_path

.list-table-head
	%h2 Nicht veröffentlicht
= render partial: 'minute_table', locals: {minutes: @open_minutes, extra_date: 'draft_sent_data'}

.list-table-head
	%h2 Veröffentlicht
= render partial: 'minute_table', locals: {minutes: @released_minutes, extra_date: 'released_date'}

.list-table-head
	%h2 Genehmigt
= render partial: 'minute_table', locals: {minutes: @accepted_minutes, extra_date: 'approved_date'}
