%h1= t '.headline'
= link_to content_tag(:span, ' ' + t('.new'), :class => "icon-plus"), new_minutes_minute_path, :class => "button small round secondary"


%table
  %tr
    %th= t Minutes::Minute.human_attribute_name :date
    %th= t Minutes::Minute.human_attribute_name :keeper_of_the_minutes
    %th= t Minutes::Minute.human_attribute_name :chairperson
    %th Veröffentlicht am
    %th Beschlussfähig

  - @minutes_minutes.each do |minutes_minute|
    %tr
      %td
        = link_to ldate(minutes_minute.date), minutes_minute
        = minutes_minute.type == 'Minutes::PlenumMinute' ? '[VV]' : ''
      %td= minutes_minute.keeper_of_the_minutes
      %td= minutes_minute.chairperson
      %td= ldate minutes_minute.released_date
      %td= minutes_minute.has_quorum ? 'Ja' : 'Nein'

%br

= link_to content_tag(:span, ' ' + t('.new'), :class => "icon-plus"), new_minutes_minute_path, :class => "button small round secondary"
= link_to content_tag(:span, ' ' + t('.new-plenum'), :class => "icon-plus"), new_minutes_plenum_minute_path, :class => "button small round secondary"