%h1 #{t @minutes_minute.class.model_name.human} vom #{l @minutes_minute.date}

- if can? :send_draft, @minutes_minute
  .two.buttons
    = link_to 'Entwurf verschicken', '#', class: 'switch', 'gumby-trigger' => '#draftcon'
    = link_to 'Veröffentlichen', '#', class: 'switch', 'gumby-trigger' => '#publishcon'

= render partial: 'meta'
= render partial: 'toplist'

= render partial: 'minutes/items/agenda_item'
= render partial: 'approvements'
= render partial: "minutes/items/item", collection: @minutes_minute.items, as: :item

= render partial: 'modals'
