%p= link_to 'Zurück zur Protokollübersicht', minutes_minutes_path

%section
  %h1 Protokoll vom #{l @minutes_minute.date}

  - if notice
    %p#notice= notice
  %dl
    %dt= Minutes::Minute.human_attribute_name :keeper_of_the_minutes
    %dd= @minutes_minute.keeper_of_the_minutes
    %dt= Minutes::Minute.human_attribute_name :chairperson
    %dd= @minutes_minute.chairperson
    %dt= Minutes::Minute.human_attribute_name :released_date
    %dd= ldate @minutes_minute.released_date
    %dt= Minutes::Minute.human_attribute_name :attendants
    %dd= @minutes_minute.fsr_attendants.join(", ")
    %dt= Minutes::Minute.human_attribute_name :guests
    %dd= @minutes_minute.guests
    %dt= Minutes::Minute.human_attribute_name :has_quorum
    %dd= @minutes_minute.has_quorum? ? t('views.yep') : t('views.nope')

  - if can? :manage, @miuntes_minute
    %ul.button-group.highlight-section
      %li
        %button.small.button{ type: "button", title: "Bearbeiten"}
          = link_to t('actions.edit'), edit_minutes_minute_path(@minutes_minute)
      %li
        %button.small.button{ type: "button", title: "Antrag hinzufügen"}
          = link_to t('actions.new', model: Minutes::Item.model_name.human),  new_minutes_minute_item_path(@minutes_minute)

= render partial: "minutes/items/item", collection: @minutes_minute.items, as: :item

%hr

- if can? :manage, @miuntes_minute
  %p= link_to 'Entwurf verschicken', send_draft_minutes_minute_path(@minutes_minute), method: :put
%p= link_to 'Zurück zur Protokollübersicht', minutes_minutes_path