= form_for @tab do |f|
	.list-table
		.thead
			.tr
				.th.w-50=Beverage.model_name.human
				.th.w-10.center=t '.quantity'
				.th.w-20.center=t '.expense'
				.th.w-20.right=t '.sum'
		= f.fields_for :beverage_tabs do |fi|
			.tr
				.td.w-50= fi.object.name
				.td.center.w-10= fi.text_field :count
				.td.center.w-20
					= number_to_currency(fi.object.price)
				.td.right.w-20
					= number_to_currency(fi.object.count * fi.object.price)
		.tr
			.td.left= t '.total'
			.td
			.td
			.td.right
				= number_to_currency(@tab.total_invoice)

	.one.buttons
		= f.submit nil, :class => "button"

%h1 Getränke hinzufügen
.list-table
	.thead
		.tr
			.th.w-50=Beverage.model_name.human
			.th.w-20.center=t '.expense'
			.th.w-10.center
	- @beverages.each do |b|
		.tr
			.td.w-50=b.name
			.td.w-20.center=number_to_currency(b.price)
			.td.w-10.center=link_to 'Hinzufügen', add_beverage_tab_path(@tab, b), method: :post
