= form_for @tab do |f|
	%table
		%colgroup
			%col{:width => "30%"}
			%col{:width => "30%"}
			%col{:width => "20%"}
			%col{:width => "20%"}
		%thead 
			%th=Beverage.model_name.human
			%th.text-center=t '.quantity'
			%th.text-center=t '.expense'
			%th.text-right=t '.sum'
			%th.text-right=t 'actions', count: 2
		%tbody
			= f.fields_for :beverage_tabs do |fi|
				%tr
					%td= fi.object.name
					%td.text-center= fi.text_field :count
					%td.text-center
						= "%.2f" % fi.object.price
						&euro;
					%td.text-right
						= "%.2f" % (fi.object.count * fi.object.price)
						&euro;
			%tr 
				%th.text-left{:colspan => "3"}= t '.total'
				%th.text-right
					= "%.2f" % @tab.total_invoice
					&euro;

	%div.submit
		= f.submit nil, :class => "button"