<% if tabs.any? %>
<table <%= "id=#{tabs.first.status}" %>>
  <colgroup>
  <col width = "60%">
  <col width = "40%">
</colgroup>
<thead>
  <th class="text-left"><%= t 'date.date' %></th>
  <th class="text-right"><%= t '.amount' %></th>
</thead>
<tbody>
  <% tabs.each do |tab| %>
  <tr <%= "class=marked_as_paid" if tab.is_marked_as_paid? %>>
    <td><%=link_to(l(tab.created_at, format: :date_only), tab_path(tab))%></td>
    <td class="text-right">
      <%= number_to_currency tab.total_invoice %>
    </td>
  </tr>
  <% end %>
  <tr>
    <td><%= t '.total' %></td>
    <td class="text-right"><%= number_to_currency (tabs.map(&:total_invoice).inject(0,:+)) %></td>
  </tr>
</tbody>
</table>
<% else %>
  <%= t 'activerecord.models.tab', count: 0 %>
<% end %>
