.list-table
	.thead
		.tr
			.th.w-45.left Produkt
			.th.w-20.center Anzahl
			.th.w-20.center Stückpreis
			.th.w-15.right Summe
	.tbody
		- tab.grouped_beverage_tabs.each do |bt|
			.tr
				.td.w-45.left= bt[0][0]
				.td.w-20.center= bt[1]
				.td.w-20.center= number_to_currency bt[0][2]
				.td.w-15.right= number_to_currency(bt[0][2] * bt[1])
		.tr.footer
			.td.w-45.left
			.td.w-20.center
			.td.w-20.center
				- if tab.is_paid?
					%span.label.payed{title: "Von dir als bezahlt markiert - muss noch vom Getränkereferent bestätigt werden."}
						bezahlt
			.td.w-15.right= number_to_currency tab.total_invoice
