= link_to("Mehr details", detail_tab_path(tab))
%table
	%colgroup
		%col{:width => "40%"}
		%col{:width => "20%"}
		%col{:width => "20%"}
		%col{:width => "20%"}
	%thead 
		%th Getränk
		%th.text-center Anzahl
		%th.text-center Kosten pro Stück
		%th.text-right Kosten gesamt
	%tbody
		- tab.grouped_beverage_tabs.each do |bt|
			%tr
				%td= bt[0][0]
				%td.text-center= bt[1]
				%td.text-center= number_to_currency bt[0][2]
				%td.text-right= number_to_currency(bt[0][2] * bt[1])
		%tr 
			%th.text-left{:colspan => "3"} Gesamtkosten
			%th.text-right
				= number_to_currency tab.total_invoice
