%table
	%colgroup
		%col{:width => "40%"}
		%col{:width => "20%"}
		%col{:width => "20%"}
		%col{:width => "20%"}
	%thead 
		%th Getränk
		%th.text-center Anzahl
		%th.text-center Kosten pro Stück
		%th.text-right Kosten gesamt
	%tbody
		- tab.beverage_tabs.each do |bt|
			%tr
				%td= bt.name
				%td.text-center= bt.count
				%td.text-center
					= "%.2f" % bt.price
					&euro;
				%td.text-right
					= "%.2f" % (bt.price * bt.count)
					&euro;
		%tr 
			%th.text-left{:colspan => "3"} Gesamtkosten
			%th.text-right
				= "%.2f" % tab.total_invoice
				&euro;
