%h1= t '.headline', date: l(@tab.created_at, format: :date_only)

- if can? :pay, @tab
	.one.buttons
		= link_to t('.is_paid'), is_paid_tab_path(@tab), method: :put

.list-table
	.thead
		.tr
			.th.w-25.left Produkt
			.th.w-20.center Datum
			.th.w-20.center Anzahl
			.th.w-20.center Stückpreis
			.th.w-15.right Summe
	.tbody
		- @tab.beverage_tabs.each do |bt|
			.tr
				.td.w-25.left= bt.name
				.td.w-20.center= l bt.created_at, format: :short
				.td.w-20.center= bt.count
				.td.w-20.center= number_to_currency bt.price
				.td.w-15.right= number_to_currency (bt.price * bt.count)
		.tr.footer
			.td.w-25.left
			.td.w-20.center
			.td.w-20.center
			.td.w-20.center
				- if @tab.is_paid?
					%span.label.payed{title: "Ist als bezahlt eingetragen."}
						bezahlt
			.td.w-15.right= number_to_currency @tab.total_invoice
