%div.actions
	%h1= t '.headline'

%h4= t '.running_tab' 
= render 'running_tab', :tab => @running_tab
%h4= t '.unpaid_tabs'
= render 'tabs', :tabs => @unpaid_tabs
%h4= t '.paid_tabs'
= render 'tabs', :tabs => @paid_tabs
