Offen:
%table
	%thead
		%th Datum
		%th Betrag
	%tbody
		- @unpaid_tabs.each do |tab|
			%tr 
				%td
					= link_to tab.created_at, tab_path(tab)
				%td
					= tab.total_invoice
		%tr
			%td
				Gesamt
			%td
				= current_user.debts

Bezahlt:
%table
	%thead
		%th Datum
		%th Betrag
	%tbody
		- @paid_tabs.each do |tab|
			%tr 
				%td
					= link_to tab.created_at, tab_path(tab)
				%td
					= tab.total_invoice
					