%div.actions
	%h1
		Rechnung vom
		=@tab.created_at.strftime("%d. %B %Y")
	= link_to content_tag(:span, ' ' + 'Zurück', :class=> "icon-left-fat"), tabs_path, :class => "button small round secondary"
	- if current_user.has_group?('kuehlschrank')
		= link_to content_tag(:span, ' ' + t('actions.edit'), :class=> "icon-pencil"), edit_tab_path(@tab), :class => "button small round secondary"
	- if @tab.is_paid?
		.button.small.round.secondary.success Ist bezahlt
	- elsif !@tab.is_marked_as_paid?
		= link_to 'Als bezahlt markieren', als_bezahlt_markieren_tab_path(@tab), :class => 'mark_tab_as_paid button small round secondary', :remote => true, :method => :put
	- else
		= render('marked_as_paid')

= render @tab