Offen:
%table
	%colgroup
		%col{:width => "30%"}
		%col{:width => "43%"}
		%col{:width => "25%"}
		%col{:width => "2%"}
	%thead
		%th Datum
		%th Benutzer
		%th.text-center Betrag
		%th.text-center Aktion
	%tbody
		- @tabs.each do |tab|
			%tr{:id => "tab_row_#{tab.id}"}
				%td
					= link_to tab.created_at.strftime("%d. %B %Y"), tab_path(tab)
				%td
					= tab.user.displayed_name
				%td.text-center
					= "%.2f" % tab.total_invoice
					&euro;
				%td.text-center.no-linebreak
					= link_to content_tag(:span, 'Hat bezahlt', :class => "icon-ok"), ist_bezahlt_tab_path(tab),:method => 'PUT', :remote => true, :class => 'tab_paid', :"data-id" => tab.id
