%div.actions
	%h1 Alle offenen Rechnungen

%div#ajax-feedback

%table
	%colgroup
		%col{:width => "30%"}
		%col{:width => "43%"}
		%col{:width => "25%"}
		%col{:width => "2%"}
	%thead
		%th Datum
		%th Benutzer
		%th.text-center Betrag
		%th.text-center Aktion
	%tbody
		- @tabs.each do |tab|
			%tr{:id => "tab_row_#{tab.id}", class: ('marked_as_paid' if tab.is_marked_as_paid?)}
				%td
					= link_to(l(tab.created_at, format: :date_only), tab_path(tab))
				%td
					= tab.user.displayed_name
				%td.text-center
					= number_to_currency tab.total_invoice
				%td.text-center.no-linebreak
					= button_to('Hat bezahlt', is_paid_tab_path(tab), :method => :put, :remote => true, :form_class => 'tab_paid', :class => 'tab_paid', form: {data:{"id" => tab.id}})
		%tr
			%td Gesamt
			%td
			%td.text-center= number_to_currency @sum
- content_for :scripts do
	= javascript_include_tag 'tabs'
