%h1 Alle offenen Rechnungen

.live
	%input#livesearch

.list-table
	.thead
		.tr
			.th.w-50 Name
			.th.w-20.right
			.th.w-20.center Datum
			.th.w-10= number_to_currency @sum
	.tbody
		- @tabs.each do |tab|
			= link_to(tab_path(tab), class: 'tr') do
				.td.w-50= tab.user.displayed_name
				.td.w-20.right
					%span.label.payed{title: 'Als bezahlt markiert.'} bezahlt
				.td.w-20.center= l(tab.created_at, format: :date_only)
				.td.w-10= number_to_currency tab.total_invoice

-content_for :scripts do
	:javascript
		$('#livesearch').selectnice("live", {
			tags: #{@users},
			objs: ".list-table .tbody .tr"
		});
