Offen:
%table
	%thead
		%th Datum
		%th Betrag
		%th Benutzer
		%th Bezahlt
	%tbody
		- @tabs.each do |tab|
			%tr{:id => "tab_row_#{tab.id}"}
				%td
					= link_to tab.created_at, tab_path(tab)
				%td
					= tab.total_invoice
				%td
					= tab.user.displayed_name
				%td
					= link_to 'Hat bezahlt', ist_bezahlt_tab_path(tab),:method => 'PUT', :remote => true, :class => 'tab_paid', :"data-id" => tab.id
