<% content_for :scripts do %>
  <%= javascript_include_tag 'minutes' %>
<% end %>

<%= form_for(@minute) do |f| %>
	<% if @minute.errors.any? %>
		<div id="error_explanation">
			<h2><%=t 'feedback.form_error', :count => @minute.errors.count %></h2>

			<ul>
			<% @minute.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<%# Here we should add a poly fill for browsers
	that don't support the new html5 date-field (i.e. Firefox) %>
	<div class="inline-field">
			<%= f.label :date, :class=>"prefix" %>
			<%= f.date_field :date, { :style => 'width: 400px' } %>
	</div>
	
	<%# The value of the selected option is the id of a fsr member (user) %>
	<div class="inline-field chosen-field">
		<%= f.label :keeper_of_the_minutes %>
		<%= f.select :keeper_of_the_minutes_id, User.all.collect {|p| [p.displayed_name, p.id] }, { :include_blank => true }, { :style => 'width: 400px' } %>
	</div>

	<%# The value of the selected option is the id of a fsr member (user) %>
	<div class="inline-field chosen-field">
		<%= f.label :chairperson %>
		<%= f.select :chairperson_id, User.all.collect {|p| [p.displayed_name, p.id]}, {:include_blank => true}, { :style => 'width: 400px' } %>
	</div>

	<hr>

	<%# list of all fsr members with a checkbox stating whether the member attended the meeting (checked = absent) %>
	<table id="attendance">
		<colgroup>
			<col width="20%">
			<col width="90%">
		</colgroup>
		<thead>
			<th>Anwesenheit FSR</th>
			<th>Name</th>
		</thead>
		<tbody>
			<% User.fsr.each do |u| %>
				<tr>
					<td>
						<label class="checkbox toggle fsintra" onclick="" style="min-width: 250px;">
							<%= check_box_tag "minute[attendee_ids][]", u.id, not(@minute.absentee_ids.include?(u.id)), id: dom_id(u), class: "attendance-checkbox" %>
							<p>
								<span>Anwesend</span>
								<span>Abwesend</span>
							</p>
							<a class="slide-button"></a>
						</label>
					</td>
					<td><%= u.displayed_name %></td>
				</tr>
			<% end %>
			<tr>
				<%# status information: percentage of present fsr members, presence of a quorum %>
				<th class="center">anwesend: <span id="attendance-present">X</span>/<span id="attendance-total">Y</span> = <span id="attendance-percentage">Z</span>%</th>
				<th class="text-left">
					<span id="attendance-quorate" class="label success">Beschlussfähig!</span>
					<span id="attendance-nohouse" class="label alert" style="display: none;">Nicht Beschlussfähig!</span>
				</th>
			</tr>
		</tbody>
	</table>

	<fieldset class="chosen-field">
		<legend>Gäste</legend>
		<p>Gäste der Sitzung bitte kommagetrennt eingeben. Zum Beispiel: <em>Hans Wagner, Torben von Klein, ...</em></p>
		<%= f.text_field :guests, :value => f.object.guests.map{|x| x.name }.join(', ') %>
	</fieldset>

	<hr>

	<%# TODO: Integrate this seamlessly into the section container %>
	<ul class="button-group">
		<li><button type="button" id="move_item_to_left" class="small button" title="Nach vorne verschieben">&lt;</button></li>
		<li><button type="button" id="add_new_item" class="small button" title="Neuen Tagesordnungspunkt anlegen">Neuer TOP</button></li>
		<li><button type="button" id="move_item_to_right" class="small button" title="Nach hinten verschieben">&gt;</button></li>
	</ul>

	<div class="section-container tabs" data-section="tabs">
		<%# agenda items: tabular display for each item, a title field and a wysiwyg editor field %>
		<%# Important: If you change the appearance for the <section>, also change the creation for the javascript new item thing %>
		<%= f.fields_for :items do |fi| %>
			<section data-index="<%= fi.index %>" class="minute-item">
				<p class="title" data-section-title>
					<a href="#"><b><%=t Minutes::Item.model_name.human %> <%= content_tag :span, fi.index, :class => 'item-index' %></b></a>
				</p>
				<div class="content" data-section-content>
					<div class="inline-field">
						<%= fi.label :title %>
						<%= fi.text_field :title %>
					</div>
					<div class="redactor-field">
						<%= fi.text_area :content %>
					</div>
					<button type="button" class="small button add_new_motion" title="Abstimmung hinzufügen">+ Abstimmung</button>
					<% if fi.object.new_record? %>
					  <button type="button" class="small button remove_motion" title="Doch nicht">-</button>
					<% else %>
						<%= fi.check_box '_destroy' %>Diesen TOP löschen?
					<% end %>


					<%= fi.fields_for :motions do |fm| %>
						<div class="motion">
							<h4>Antrag</h4>
							<div class=>
								<%= fm.text_area :rationale, :placeholder => "foo" %>
							</div>
							<div class="inline-field chosen-field">
								<%= fm.label :mover_id, 'Antragssteller' %>
								<% fm.text_field :mover_id, :placeholder => "Antragssteller" %>
								<%= fm.select :mover_id, User.all.collect {|p| [p.displayed_name, p.id]}, :include_blank => true %>
							</div>
							<div class="row inline-field">
								<div class="large-4 columns">
									<%= fm.label :pro %>
									<%= fm.text_field :pro, :placeholder => "Dafür" %>
								</div>
								<div class="large-4 columns">
									<%= fm.label :abs %>
									<%= fm.text_field :abs, :placeholder => "Enhaltung" %>
								</div>
								<div class="large-4 columns">
									<%= fm.label :con %>
									<%= fm.text_field :con, :placeholder => "Dagegen" %>
								</div>
							</div>
							<% if fm.object.new_record? %>
							  <button type="button" class="small button remove_motion" title="Doch nicht">-</button>
							<% else %>
								<%= fm.label :_destroy, 'Antrag löschen?' %><%= fm.check_box '_destroy' %>
							<% end %>
							<hr />
						</div>
					<% end %>
					<%= fi.hidden_field :id %><%# the :id element has to be placed here explicitly, otherwise the move function explodes. %>
					<%= fi.hidden_field :order, :value => fi.index.to_s %>
				</div>
			</section>
		<% end %>

		<%# the generic minute approve item %>
		<%= f.fields_for :minute_approve_item do |fi| %>
		<section>
			<p class="title">
				<a href="#"><span class="icon-doc-text">Protokolle</span></a>
			</p>
			<div class="content" data-section-content>
				<% if @minute.minute_approve_item.minute_approve_motions.length == 0 %>
				<p>Es gibt gerade keine Protokolle zu genehmigen.</p>
				<% end %>

				<%= fi.fields_for :minute_approve_motions do |mam| %>
					<%= mam.hidden_field :minute_id %>
					<h5>Protokoll vom <%= l mam.object.minute.date, :format => "%d.%m.%Y" %> genehmigen:</h5>
			  	<div class="row">
				  	<div class="inline-field small-3 columns">
					  	<%= mam.label :pro %>
					  	<%= mam.text_field :pro %>
					  </div>
					  <div class="inline-field small-3 columns">
					  	<%= mam.label :abs %>
					  	<%= mam.text_field :abs %>
					  </div>
					  <div class="inline-field small-3 columns">
					  	<%= mam.label :con %>
					  	<%= mam.text_field :con %>
						</div>
					  <div class="small-3 columns">
					  	<%= mam.label :approved, :class => 'label' %>
					  	<%= mam.check_box :approved %>
				  	</div>
				  </div>
			  	<div class="row"><p>Tagesordnung:</p>
				  	<ol class="disc">
					  <% mam.object.minute.items.each do |top| %> 
							<li><%= top.title %></li>
					  <% end %>
						</ol>
					</div>
					<hr />
				<% end %>
			</div>
		</section>
		<% end %>

		<%# wysiwyg help section: shortcut overview %>
		<section>
			<p class="title">
				<a href="#"><span class="icon-help-circled"></span></a>
			</p>
			<div class="content" data-section-content>
				<%= render "shared/editor_help" %>
			</div>
		</section>
	</div>
	
	<div class="submit">
		<%= f.submit nil, :class => "button" %>
	</div>
<% end %>

<script defer="defer">
	var critical_mass = 2/3*100; // percentage needed for a quorum

	// easy way of counting the number of motions,
	// note that the order has to be unique.
	var motionLevels = { <%= @minute.items.map { |x| "#{x.order}: #{x.motions.length}" }.join(',') %> }
	// All Users .. see http://api.jqueryui.com/autocomplete/#option-source for why this way
	var availableUsers = [ <%= raw User.all.map { |x| "{ value: #{x.id}, label: '#{x.displayed_name}' }" }.join(",") %> ];
	var availableGuests = [ <%= raw Minutes::Guest.all.map { |x| "'#{x.name}'" }.join(",") %> ];
  
  /**
	 * This counter holds the number of currently inserted items in this minute.
	 */
	sectionCounter = <%= @minute.items.length %>
</script>