<%= form_for(@minute) do |f| %>
  <% if @minute.errors.any? %>
    <div id="error_explanation">
      <h2><%=t 'feedback.form_error', :count => @minute.errors.count %></h2>

      <ul>
      <% @minute.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br />
    <%= f.text_field :date %>
  </div>

  <div class="field">
    <%= f.label :keeper_of_the_minutes %><br />
    <%= f.text_field :keeper_of_the_minutes %>
  </div>
  <div class="field">
    <%= f.label :chairperson %><br />
    <%= f.text_field :chairperson %>
  </div>

  <div class="field">
    <%= f.label :attendees %><br />
    <%= text_field_tag :attendees %>
  </div>

  <div class="field">
    <%= f.label :absentees %><br />
    <%= text_field_tag :absentees %>
  </div>

  <hr />
  <%= f.fields_for :items do |fi| %>
    <div class="field">
      <%= fi.label :title %><br />
      <%= fi.text_field :title %>
    </div>
    <div class="field">
      <%= fi.label :content %><br />
      <%= fi.text_area :content %>
    </div>
    <hr />
  <% end %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<script>
  $(function() {
    var availableUsers = [ <%= raw User.all.map { |x| "'#{x.displayed_name}'" }.join(",") %> ];
    $( "#minute_keeper_of_the_minutes" ).autocomplete({
      source: availableUsers
    });
    $( "#minute_chairperson" ).autocomplete({
      source: availableUsers
    });
  });
  </script>