<%= form_for(@minute) do |f| %>
	<% if @minute.errors.any? %>
		<div id="error_explanation">
			<h2><%=t 'feedback.form_error', :count => @minute.errors.count %></h2>

			<ul>
			<% @minute.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<%# Here we should add a poly fill for browsers
	that don't support the new html5 date-field (i.e. Firefox) %>
	<div class="inline-field">
		<%= f.label :date %>
		<%= f.date_field :date %>
	</div>
	
	<%# The value of the selected option is the id of a fsr member (user) %>
	<div class="inline-field chosen-field">
		<%= f.label :keeper_of_the_minutes %>
		<%= f.select :keeper_of_the_minutes_id, User.all.collect {|p| [p.displayed_name, p.id] }, :include_blank => true %>
	</div>

	<%# The value of the selected option is the id of a fsr member (user) %>
	<div class="inline-field chosen-field">
		<%= f.label :chairperson %>
		<%= f.select :chairperson_id, User.all.collect {|p| [p.displayed_name, p.id]}, :include_blank => true %>
	</div>

	<hr>

	<%# list of all fsr members with a checkbox stating whether the member attended the meeting (checked = absent) %>
	<table id="attendance">
		<colgroup>
			<col width="20%">
			<col width="90%">
		</colgroup>
		<thead>
			<th>Anwesenheit FSR</th>
			<th>Name</th>
		</thead>
		<tbody>
			<% User.fsr.each do |u| %>
				<tr>
					<td>
						<label class="checkbox toggle fsintra" onclick="" style="min-width: 250px;">
							<%= check_box_tag "minute[absentee_ids][]", u.id, not(@minute.absentee_ids.include?(u.id)), id: dom_id(u), class: "attendance-checkbox" %>
							<p>
								<span>Anwesend</span>
								<span>Abwesend</span>
							</p>
							<a class="slide-button"></a>
						</label>
					</td>
					<td><%= u.displayed_name %></td>
				</tr>
			<% end %>
			<tr>
				<%# status information: percentage of present fsr members, presence of a quorum %>
				<th class="center">anwesend: <span id="attendance-present">X</span>/<span id="attendance-total">Y</span> = <span id="attendance-percentage">Z</span>%</th>
				<th class="text-left">
					<span id="attendance-quorate" class="label success">Beschlussfähig!</span>
					<span id="attendance-nohouse" class="label alert" style="display: none;">Nicht Beschlussfähig!</span>
				</th>
			</tr>
		</tbody>
	</table>

	<%# Here could be a text field with autocomplete.
	TODO: New persons should be supported! %>
	<fieldset>
		<legend>Gäste</legend>
		<!-- <%= f.label :guests %><br /> -->
		<%= f.select :guests, ["foo", "bar"] %>
	</fieldset>

	<hr>

	<%# TODO: Integrate this seamlessly into the section container %>
	<ul class="button-group">
		<li><button type="button" id="move_item_to_left" class="small button" title="Nach vorne verschieben">&lt;</button></li>
		<li><button type="button" id="add_new_item" class="small button" title="Neuen Tagesordnungspunkt anlegen">Neuer TOP</button></li>
		<li><button type="button" id="move_item_to_right" class="small button" title="Nach hinten verschieben">&gt;</button></li>
	</ul>

	<div class="section-container tabs" data-section="tabs">
		<%# agenda items: tabular display for each item, a title field and a wysiwyg editor field %>
		<%# Important: If you change the appearance for the <section>, also change the creation for the javascript new item thing %>
		<%= f.fields_for :items do |fi| %>
			<section data-index="<%= fi.index %>" class="minute-item">
				<p class="title" data-section-title>
					<a href="#"><b><%=t Minutes::Item.model_name.human %> <%= content_tag :span, fi.index, :class => 'item-index' %></b></a>
				</p>
				<div class="content" data-section-content>
					<div class="inline-field">
						<%= fi.label :title %>
						<%= fi.text_field :title %>
					</div>
					<div class="redactor-field">
						<%= fi.text_area :content %>
					</div>
					<button type="button" class="small button add_new_motion" title="Abstimmung hinzufügen">+ Abs</button>
					<div>
						<%= fi.fields_for :motions do |fm| %>
							<%= fm.label :rationale %>
							<%= fm.text_area :rationale %>
							<%= fm.label :mover_id %>
							<%= fm.text_field :mover_id %>
							
							<%= fm.label :pro %>
							<%= fm.text_field :pro %>

							<%= fm.label :abs %>
							<%= fm.text_field :abs %>

							<%= fm.label :con %>
							<%= fm.text_field :con %>
							<hr />
						<% end %>
					</div>
					<%= fi.hidden_field :order, :value => fi.index.to_s %>
				</div>
			</section>
		<% end %>

		<%# the generic minute approve item %>
		<section>
			<p class="title">
				<a href="#"><span class="icon-doc-text">Protokolle</span></a>
			</p>
			<div class="content" data-section-content>
				<ul>
					<% @acceptable_minutes.each do |m| %>
					  <li>Protokoll vom <%= l m.date, :format => "%d.%m.%Y" %></li>
					<% end %>
				</ul>
			</div>
		</section>

		<%# wysiwyg help section: shortcut overview %>
		<section>
			<p class="title">
				<a href="#"><span class="icon-help-circled"></span></a>
			</p>
			<div class="content" data-section-content>
				<%= render "shared/editor_help" %>
			</div>
		</section>
	</div>
	
	<div class="submit">
		<%= f.submit nil, :class => "button" %>
	</div>
<% end %>

<script>
	var critical_mass = 2/3*100; // percentage needed for a quorum

	// easy way of counting the number of motions,
	// note that the order has to be unique.
	var motionLevels = { <%= @minute.items.map { |x| "#{x.order}: #{x.motions.length}" }.join(',') %> }

	$(function() {
		// All Users .. see http://api.jqueryui.com/autocomplete/#option-source for why this way
		var availableUsers = [ <%= raw User.all.map { |x| "{ value: #{x.id}, label: '#{x.displayed_name}' }" }.join(",") %> ];
		$( "#name_of_keeper_of_the_minutes" ).autocomplete({
			source: availableUsers,
			change: function( event, ui ) {
				$("#name_of_keeper_of_the_minutes").val(ui.item.label)
				$("#minute_keeper_of_the_minutes_id").val(ui.item.value)
			}
		});
		$("#name_of_chairperson").autocomplete({
			source: availableUsers,
			change: function( event, ui ) {
				$("#name_of_chairperson").val(ui.item.label)
				$("#minute_chairperson_id").val(ui.item.value)
			}
		});

		// setting up redactor
		buttons = [
			'bold', 'italic', 'underline', 'deleted', '|',
			'unorderedlist', 'orderedlist', 'outdent', 'indent', '|',
			'alignleft', 'aligncenter', 'alignright', 'justify', '|',
			'html'
		]
		$(".redactor-field textarea").redactor({
			lang: 'de',
			buttons: buttons,
			minHeight: 350,
		});

		// setting up chosen
		$(".chosen-field select").chosen({ placeholder_text: "Auswählen", allow_single_deselect: true });

		// calculating presence of a quorum
		$("#attendance .attendance-checkbox").change(function(evt){
			updateAttandanceStatus();
		});
		updateAttandanceStatus();
	});

	function updateAttandanceStatus(){
		checkboxes = $("#attendance .attendance-checkbox");
		total = checkboxes.length;
		present = checkboxes.filter(":checked").length;
		percentage = present/total*100;
		$("#attendance-total").text(total);
		$("#attendance-present").text(present);
		$("#attendance-percentage").text(percentage.toFixed(1));
		if (percentage > critical_mass) {
			$("#attendance-quorate").show();
			$("#attendance-nohouse").hide();
		} else {
			$("#attendance-quorate").hide();
			$("#attendance-nohouse").show();
		}
	}

</script>