<div class="actions">
	<h1><%=t '.headline' %></h1>
	<%= link_to content_tag(:span, ' ' + t('.new'), :class => "icon-plus"), new_minute_path, :class => "button small round secondary" %>
</div>

<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>

<table>
	<colgroup>
		<col width="25%">
		<col width="44%">
		<col width="25%">
		<col width="2%">
		<col width="2%">
		<col width="2%">
		<col width="2%">
	</colgroup>
	<thead>
		<tr>
			<th><%=t Minute.human_attribute_name :date %></th>
			<th><%=t Minute.human_attribute_name :keeper_of_the_minutes %></th>
			<th class="text-center"><%=t Minute.human_attribute_name :status %></th>
			<th colspan="4" class="text-center">Aktionen</th>
		</tr>
	</thead>

	<tbody>
		<% @minutes.each do |minute| %>
			<tr>
				<td><%= l minute.date, :format => "%d.%m.%Y" %></td>
				<td>
					<% if minute.keeper_of_the_minutes %>
						<%= minute.keeper_of_the_minutes.displayed_name %>
					<% else %>
						<i>[nicht eingetragen]</i>
					<% end %>
				</td>
				<td class="text-center"><% if minute.approved? %> Genehmigt (<%= link_to (l minute.approving_minute.date, :format => "%d.%m.%Y"), minute.approving_minute %>)<% else %><%= minute.translated_status %><% end %></td>
				<td class="text-center no-linebreak">
					<%= link_to content_tag(:span, t('actions.show'), :class => "icon-doc-text"), minute %>
				</td>
				<td class="text-center no-linebreak">
					<%= link_to content_tag(:span, t('actions.edit'), :class => "icon-pencil"), edit_minute_path(minute) %>
				</td>
				<td class="center no-linebreak">
					<% if minute.published? %>
					  dochnich
					<% else %>
						<%= link_to 'Veröffentlichen', publish_minute_path(minute), :method => :put %>
					<% end %>
				</td>
				<td class="text-center no-linebreak">
					<%= link_to content_tag(:span, t('actions.destroy'), :class => "icon-cancel"), minute, method: :delete, data: { confirm: t('actions.destroy_confirm') } %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
