<p id="notice"><%= notice %></p>

<p>
  <strong><%=t Minute.human_attribute_name :date %></strong>
  <%= l @minute.date, :format => :short %>
</p>

<p>
  <strong><%=t Minute.human_attribute_name :status %></strong>
  <%= @minute.translated_status %>
</p>


<%= link_to t('actions.edit'), edit_minute_path(@minute) %> |
<%= link_to t('actions.back'), minutes_path %>