<div class="actions">
	<h1>Protokoll <%= l @minute.date, :format => "%d.%m.%Y" %></h1>
	<%= link_to content_tag(:span, ' Zurück', :class => "icon-left-fat"), minutes_path, :class => "button small round secondary" %>
	<%= link_to content_tag(:span, ' Bearbeiten', :class => "icon-pencil"), edit_minute_path(@minute), :class => "button small round secondary" %>
</div>

<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>

<div class="panel">
	<div class="row">
		<div class="large-4 small-4 column text-center">
			<h6><%= Minute.human_attribute_name :status %></h6>
			<%= @minute.translated_status %>
			<% if @minute.approved? %>
			  und<br />genehmigt (<%= link_to (l @minute.approving_minute.date, :format => "%d.%m.%Y"), @minute.approving_minute %>)
			<% end %>


		</div>
		<div class="large-4 small-4 column text-center">
			<h6><%= Minute.human_attribute_name :chairperson %></h6>
			<%= @minute.chairperson.displayed_name if @minute.chairperson %>
		</div>
		<div class="large-4 small-4 column text-center">
			<h6><%= Minute.human_attribute_name :keeper_of_the_minutes %></h6>
			<%= @minute.keeper_of_the_minutes.displayed_name if @minute.keeper_of_the_minutes %>
		</div>
	</div>
</div>

<div class="panel">
	<%# TODO: check if there is a quorum %>
	<span class="label success">Beschlussfähig!</span>
	<span class="label alert">Nicht Beschlussfähig!</span>
	<h6>Anwesend</h6>
	<ul class="inline-list">
		<%# TODO: better display (comma separation or list symbol) %>
		<% @minute.attendees.each do |u| %>
			<li><%= u.displayed_name %></li>
		<% end %>
	</ul>
	<h6>Abwesend</h6>
	<ul class="inline-list">
		<%# TODO: better display (comma separation or list symbol) %>
		<% @minute.absentees.each do |u| %>
			<li><%= u.displayed_name %></li>
		<% end %>
		<% @minute.unexcused_absentees.each do |u| %>
			<li><%= u.displayed_name %> (unentschuldigt)</li>
		<% end %>
	</ul>
	<h6>Gäste</h6>
	<ul class="inline-list">
		<% @minute.guests.each do |g| %>
			<li><%= g.name %></li>
		<% end %>
	</ul>
</div>

<% @minute.items.each do |i| %>
	<div class="panel top">
		<div class="edit-shortcut">
			<%= link_to content_tag(:span, nil, :class => "icon-pencil"), edit_minute_path(@minute), :class => "button tiny secondary" %>
		</div>
		<h4>
			<span class="subheader"><%=t Minutes::Item.model_name.human %> <%= i.order %>&nbsp;</span>
			<span><%= i.title %></span>
		</h4>
		<div>
			<%= i.content.html_safe %>
		</div>

		<% if i.motions.length > 0 %>
		<h5>Anträge</h5>
		  <% i.motions.each do |m| %>
		  	<p>
			  	Von <%= m.mover %>:<br />
			  	<%= m.rationale %><br />
			  	Ergebnis: <%= motion_result m %>
			  </p>
		  <% end %>
		<% end %>
	</div>
<% end %>

<% if @minute.minute_approve_item and @minute.minute_approve_item.minute_approve_motions.count > 0 %>
	<div class="panel top">
		<div class="edit-shortcut">
			<%= link_to content_tag(:span, nil, :class => "icon-pencil"), edit_minute_path(@minute), :class => "button tiny secondary" %>
		</div>
		<h4>
			<span><%=t Minutes::MinuteApproveItem.model_name.human %></span>
		</h4>
		<ul>
			<% @minute.minute_approve_item.minute_approve_motions.each do |m| %>
				<li>Sitzung vom <%= link_to (l m.minute.date, :format => "%d.%m.%Y"), m.minute %> – <%= motion_result m %></li>
			<% end %>
		</ul>
	</div>
<% end %>
