<div class="actions">
	<h1>Protokoll <%= l @minute.date, :format => "%d.%m.%Y" %></h1>
	<%= link_to content_tag(:span, ' Zur체ck', :class => "icon-left-fat"), minutes_path, :class => "button small round secondary" %>
	<%= link_to content_tag(:span, ' Bearbeiten', :class => "icon-pencil"), edit_minute_path(@minute), :class => "button small round secondary" %>
</div>

<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>

<div class="panel">
	<div class="row">
		<div class="large-4 small-4 column text-center">
			<h6><%= Minute.human_attribute_name :status %></h6>
			<%= @minute.translated_status %>
		</div>
		<div class="large-4 small-4 column text-center">
			<h6><%= Minute.human_attribute_name :chairperson %></h6>
			<%= @minute.chairperson.displayed_name if @minute.chairperson %>
		</div>
		<div class="large-4 small-4 column text-center">
			<h6><%= Minute.human_attribute_name :keeper_of_the_minutes %></h6>
			<%= @minute.keeper_of_the_minutes.displayed_name if @minute.keeper_of_the_minutes %>
		</div>
	</div>
</div>

<div class="panel">
	<h6>Anwesend
		<%# TODO: check if there is a quorum %>
		<span class="label success">Beschlussf채hig!</span>
		<span class="label alert">Nicht Beschlussf채hig!</span>
	</h6>
	<ul class="inline-list">
		<%# TODO: filter, only present Users %>
		<%# TODO: better display (comma separation or list symbol) %>
		<% User.all.each do |u| %>
			<li><%= u.displayed_name %></li>
		<% end %>
	</ul>
	<h6>Abwesend</h6>
	<ul class="inline-list">
		<%# TODO: filter, only absent Users %>
		<%# TODO: better display (comma separation or list symbol) %>
		<% User.all.each do |u| %>
			<li><%= u.displayed_name %></li>
		<% end %>
	</ul>
	<h6>G채ste</h6>
	<%# TODO: display guests %>
</div>

<% @minute.items.each_with_index do |i, index| %>
	<div class="panel top">
		<div class="edit-shortcut">
			<%= link_to content_tag(:span, nil, :class => "icon-pencil"), edit_minute_path(@minute), :class => "button tiny secondary" %>
		</div>
		<h4>
			<span class="subheader"><%=t Minutes::Item.model_name.human %> <%= index + 1 %>&nbsp;</span>
			<span><%= i.title %></span>
		</h4>
		<div>
			<%= i.content.html_safe %>
		</div>
	</div>
<% end %>
