<p id="notice"><%= notice %></p>

<p>
  <strong><%=t Minute.human_attribute_name :date %></strong>
  <%= l @minute.date, :format => :short %>
</p>

<p>
  <strong><%=t Minute.human_attribute_name :status %></strong>
  <%= @minute.translated_status %>
</p>

<p>
  <strong><%=t Minute.human_attribute_name :keeper_of_the_minutes %></strong>
  <%= @minute.keeper_of_the_minutes.displayed_name if @minute.keeper_of_the_minutes %>
</p>

<p>
  <strong><%=t Minute.human_attribute_name :chairperson %></strong>
  <%= @minute.chairperson.displayed_name if @minute.chairperson %>
</p>

<%# Overview over items of this protocol %>
<ul>
<% @minute.items.each do |i| %>
  <li><strong><%=t Minutes::Item.model_name.human %> <%= i.order %> <%= i.title %></strong></li>
<% end %>
</ul>

<%# Detailed display of items %>
<% @minute.items.each do |i| %>
  <hr />
  <p>
    <strong><%=t Minutes::Item.model_name.human %> <%= i.order %> <%= i.title %></strong>
    <%# i.content is set with wysiwyg editor and thus contains html %>
    <%= i.content.html_safe %>
  </p>
<% end %>

<%= link_to t('actions.edit'), edit_minute_path(@minute) %> |
<%= link_to t('actions.back'), minutes_path %>