<h1><%=t '.headline' %></h1>
<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<table id="tally_sheet">
  <thead>
    <tr>
      <th><%= Person.human_attribute_name(:lastname) %></th>
      <th><%= Person.human_attribute_name(:firstname) %></th>
      <% @beverage_tabs.each do |beverage| %>
        <th><%= "#{beverage.name} (#{number_to_currency beverage.price}/#{number_to_human beverage.capacity, units: 'beverages.capacity'})" %></th>
      <% end %>
      <th><%= t('actions', count: 2) %></th>
    </tr>
  </thead>
  <tbody >
  <% @users.each_with_index do |user,i| %>
    <tr>
      <td><%= user.lastname %></td>
      <td><%= user.firstname %></td>
      <% @data[user][:beverage_tabs].each do |count| %>
        <td class="text-center"><%= count %></td>
      <% end %>
      <td><%= link_to_if(@data[user][:tab], t('actions.edit'), edit_tab_path(@data[user][:tab])) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to t('.accounting'), tally_sheet_accounting_path, method: 'post', class: 'button', data: {disable_with: 'Accounting...', confirm: t("actions.destroy_confirm")} %>

<% content_for :scripts do %>
  <%= javascript_tag do %>
    $(function() {
      $("#tally_sheet").dataTable({})
    });
  <% end %>
<% end %>
