%div
	= form_tag tally_sheets_path, :method => 'POST' do
		%table
			%thead
				%th
					Benutzer
				- @beverages.each do |beverage|
					%th= beverage.name
			%tbody
			- @users.each do |user|
				%tr
					%td
						= fields_for user do |uf|
							= user.displayed_name
							= uf.fields_for "#{user.id}",[user,tab=user.tabs.build] do |tf|
								- @beverages.each do |beverage|
									%td
										= tf.fields_for "#{beverage.id}", tab.beverage_tabs.build do |bf|
											= bf.text_field :count
											= bf.hidden_field :price, :value => beverage.price
		= submit_tag 
		= link_to 'PDF', new_tally_sheet_path(:format => 'pdf')
