%div.actions
	%h1 Neue Abrechnung
	= link_to content_tag(:span, '&nbsp;&nbsp;&nbsp;&nbsp;Neue Liste drucken'.html_safe, :class => "icon-emo-beer"), new_tally_sheet_path(:format => 'pdf'), :class => "button small round secondary"

%br
%label.checkbox.toggle.candy.blue{:style => "width: 400px; left: 50%; margin-left: -200px;"}
	= check_box_tag "high-vis-selector", nil, false
	%p
		%span Erhöhter Kontrast
		%span Normale Ansicht
	%a.slide-button
%br

%div
	= form_tag tally_sheets_path, :method => 'POST' do
		%table#new-tally-sheet
			%thead
				%th
					Benutzer
				- @beverages.each do |beverage|
					%th.text-center= beverage.name
			%tbody
			- @users.each do |user|
				%tr
					%td.text-left
						= fields_for user do |uf|
							= user.displayed_name
							= uf.fields_for "#{user.id}",[user,tab=user.tabs.build] do |tf|
								- @beverages.each do |beverage|
									%td
										= tf.fields_for "#{beverage.id}", tab.beverage_tabs.build do |bf|
											= bf.text_field :count, :class => "text-center"
											= bf.hidden_field :price, :value => beverage.price
		%div.text-right
			= submit_tag "Fertig! Abrechnung eintragen", :class => "button"

:javascript
	$(document).ready(function() {
		$("#high-vis-selector").change(function(evt){
			if ($(this).is(":checked")) {
				$("#new-tally-sheet").addClass("high-vis");
			} else {
				$("#new-tally-sheet").removeClass("high-vis");
			}
		});
	});