<% require "barby/barcode/code_128" %>
<% require "barby/outputter/svg_outputter" %>

<% item_prefix = 'item__' %>
<% barcode_width = 200 %>
<% barcode_height = 50 %>

<meta charset="utf-8">
<%= wicked_pdf_stylesheet_link_tag "documents" %>

<style type="text/css">
  .barcode {
    margin-bottom: 15px;
    width: <%= barcode_width %>;
    display: inline-block;
    text-align: center;
  }
  .logo {
    vertical-align: top;
    width: 20px;
    line-height: 50px;
    height: 50px;
    margin-top: 10px;
    margin-right: 10px;
    display: inline-block;
  }
  .image {
    max-width: 50px;
    max-height: 50px;
  }
  .item {
    display: inline-block;
    width: 49%;
  }

</style>

<div class="document">
  <% @items.each do |item| %>
  <div class="item">
    <div class="logo">
      <%= wicked_pdf_image_tag_for_public item.image.url(:small), :class=>"image" %>
    </div>
    <div class="barcode">
      <% barcode = Barby::Code128B.new("#{item_prefix}#{item.id}") %>
      <img src="data:image/svg+xml;base64,<%= Base64.encode64(barcode.to_svg({:height => barcode_height, :width => barcode_width })) %>"><br />
      <%= item.name %>
    </div>
  </div>
  <% end %>
  <div style="clear: both"></div>
  <hr>
  <div class="logo">
      <%= wicked_pdf_image_tag_for_public "/images/__accept.png", :class=>"image" %>
  </div class="item">
  <div class="barcode">
    <img src="data:image/svg+xml;base64,<%= Base64.encode64(Barby::Code128B.new("__accept").to_svg({height: barcode_height, width: barcode_width})) %>"><br />
    Accept
  </div>
    <div class="logo">
      <%= wicked_pdf_image_tag_for_public "/images/__cancel.png", :class=>"image" %>
    </div class="item">
    <div class="barcode">
    <img src="data:image/svg+xml;base64,<%= Base64.encode64(Barby::Code128B.new("__decline").to_svg({height: barcode_height, width: barcode_width})) %>"><br />
    Decline
  </div>

</div>
