%a{'name' => "top#{item.full_order}"}
.minute-top.with-utils{'id' => "top#{item}"}
  %h2
    = "TOP #{item.full_order}:"
    = item.title
  .content
    = item.content.html_safe

  = render partial: "minutes/motions/motion", collection: @minutes_minute.items, as: :item

  - # {% include 'minutes/view/request.html' %}
  - # {% include 'minutes/view/request.html' %}

.utils
  = link_to t('actions.new', model: Minutes::Motion.model_name.human), new_minutes_minute_item_motion_path(@minutes_minute, item)
  = link_to t('actions.destroy'), '#', 'gumby-trigger' => '#topdel'
  = link_to t('actions.edit'), edit_minutes_minute_item_path(@minutes_minute, item)
