%hr
%section
  %h2= item.title
  %p= item.content.html_safe

  = render partial: "minutes/motions/motion", collection: item.motions, as: :motion, locals: { item: item }
  
  - if can? :update, @minutes_minute
    %ul.button-group.highlight-section
      %li
        = link_to small_button('⇧', "Nach oben schieben"), move_minutes_minute_item_path(@minutes_minute, item, dir: 'up'), method: :put
      %li
        = link_to small_button(t('actions.edit')), edit_minutes_minute_item_path(@minutes_minute, item)
      %li
        = link_to small_button(t('actions.new', model: Minutes::Motion.model_name.human)), new_minutes_minute_item_motion_path(@minutes_minute, item)
      %li
        = link_to small_button('⇩', "Nach unten schieben"), move_minutes_minute_item_path(@minutes_minute, item, dir: 'down'), method: :put