<div id="navi">
				<!-- page logo and home link -->
		<h1><a href="/"><img src="/static/img/logo.png" gumby-retina=""></a></h1>
		<!-- mobiles: display foldable menu -->
		<a class="toggle btn" gumby-trigger="#navi > ul" href="#"><i class="icon-menu"></i></a>
		<!-- navi elements -->
			<ul>
				<% if signed_in? %>
					<%= menu_link_to 'Protokolle', minutes_minutes_path %>
				<% else %>
					<%= menu_link_to 'Protokolle', minutes_public_path %>
				<% end %>
				<% if signed_in? %>
					<%= menu_link_to 'Adressbuch', people_path %>
					<%= menu_link_to 'Getränke', beverages_path %>
					<%= menu_link_to 'Profil', person_path(current_user) %>
					<%= menu_link_to 'Logout', logout_path, :method => :delete %>
				<% else %>
					<%= menu_link_to 'Login', login_path %>
				<% end %>
</div>
