<div>
	<% if signed_in? %>
		<%= link_to 'Adressbuch', users_path %>
		<%= link_to 'Profil', user_path(current_user) %>
		<%= link_to 'Logout', logout_path, :method => :delete %>
	<% else %>
		<%= link_to 'Login', login_url %>
	<% end %>
	<%= link_to 'Portokeule', minutes_path %>
</div>