<div id="top-bar" class="contain-to-grid">
	<nav class="top-bar">
		<ul class="title-area">
			<!-- title -->
			<li class="name"><h1><a href="/">FSIntranet</a></h1></li>
			<!-- menu for linearisation -->
			<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
		</ul>

		<section class="top-bar-section">
			<ul class="right">
				<li class="active"><a href="#">Aktiv</a></li>
				<li><%= link_to 'Protokolle', minutes_path %></li>
				<% if signed_in? %>
					<li><%= link_to 'Adressbuch', people_path %></li>
					<li class="has-dropdown">
						<% if current_user.has_group?('kuehlschrank') %>
							<a href="#">Kühlschrank</a>
							<ul class="dropdown">
								<li><%= link_to 'Eigene Rechnungen', tabs_path %></li>
								<li><%= link_to 'Getränke', beverages_path %></li>
								<li><%= link_to 'Benutzerliste drucken', tally_sheet_print_users_path(:format => :pdf), :target => '_blank' %>
								<li><%= link_to 'Preisliste drucken', tally_sheet_print_items_path(:format => :pdf), :target => '_blank' %>
								<li><%= link_to 'Strichliste', tally_sheet_path %></li>
								<li><%= link_to 'Offene Rechnungen', offen_tabs_path %></li>
								<li><%= link_to 'Strichliste verwalten', tally_sheet_edit_list_path %></li>
							</ul>
						<% else %>
							<li><%= link_to 'Rechnungen', tabs_path %></li>
						<% end %>
					</li>
					<li><%= link_to 'Profil', person_path(current_user) %></li>
					<li><%= link_to 'Logout', logout_path, :method => :delete %></li>
				<% else %>
					<li><%= link_to 'Login', login_path %></li>
				<% end %>
			</ul>
		</section>
	</nav>
</div>