<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="de"> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />

		<!-- Uncomment to make IE8 render like IE7 -->
		<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

		<!-- -->
		<%= favicon_link_tag 'favicon_32.png' %>

		<!-- Set the viewport width to device width for mobile -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title><%= full_title(yield :title) %></title>

		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag :modernizr %>
		<%= csrf_meta_tags %>
	</head>
	<div class="no-js">
	'A problem has been detected and Intranet has been shut down to prevent damage to your computer.<br /><br />
	The system encountered an uncorrectable client error. <br /><br />
	If this is the first time you have seen this Stop error screen, activate Javascript on your computer. If this screen appears again, follow these steps:<br /><br />
	Check to make sure any Chrome is properly installed. If this is a new installation, ask your Browser dealer for any updates you might need. If problems continue, disable or remove any newly installed Firefox.<br /><br />
	Disable l33thaXxor options like Javascript deactivation or same-origin cookie prevention. If you need to use privacy-mode to hide plugins or cookie-access, press Alt+F4 to get instant 100.000$.
	<br /><br />Technical Information:<br />*** STOP: 5984320987345987643298756430985712458769437penis347509873218476'
	</div>
	<body>
		<div id="body-wrapper">
			<div id="main">
				<%= render 'layouts/header' %>
				<%= render partial: '/shared/flash' %>
					<%= yield %>
				</div>
			</div>
		</div>
		<%= javascript_include_tag "application" , "data-turbolinks-track" => true %>
		<%= yield :scripts %>
		<%= yield :joyride %>
	</body>
</html>
